
<form #userForm="ngForm" (ngSubmit)="onSubmit()" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input [(ngModel)]="userModal.name" #name="ngModel" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input [(ngModel)]="userModal.email" #email="ngModel" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input [(ngModel)]="userModal.password" #password="ngModel" name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">SignUp</button>
    <a class="mx-3" routerLink="/login">Already have an Account, Click to Login? </a>

  </form>
